@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--default-font-family:
		"Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

	--dark: oklch(0.18 0.01 93.99 / 1);

	--light: oklch(0.94 0 0);

	--muted-light: color-mix(in oklab, var(--light) 75%, transparent);

	--highlight: oklch(0.21 0.01 91.72);

	--cardBg: oklch(0.24 0.01 91.69);

	--border-lighter: color-mix(in oklch, var(--light) 20%, transparent);

	--border-light: color-mix(in oklab,var(--light)2.5%,transparent);

	--border-dark: oklch(0.23 0.01 91.7);

	--muted-text: color-mix(in oklch, var(--light) 60%, transparent);

	--red-text: oklch(0.65 0.21 37.99);

	--muted-red: color-mix(in oklab, var(--red-text) 75%, transparent);

	--text-sm: 0.86rem;

	--text-base: 1rem;

	--text-lg: 1.6rem;

	--text-xl: 2.25rem;

	--text-2xl: 4.5rem;

	--leading-base: 1.5;

	--leading-sm: 1.25;

	--leading-tight: 1.1;

	--tracking-base: .005em;

	--tracking-sm: .01em;

	--tracking-md: -.0125em;

	--tracking-2xl: -.03em;

	--button-padding-default: 0.7em 1.63em 0.6em;
	--button-padding-md-sm: 0.6em 1.25em 0.62em;
	--button-padding-sm: 0.35em .88em 0.36em;
	--button-padding-xs: 0.15em 0.5em;
	--site-header-height: 52px;

	--button-hover: oklch(0.88 0 0);

	--hero-bg:
		linear-gradient(var(--color-theme-fg-05) 0% 100%),
		linear-gradient(var(--color-theme-card-hex) 0% 100%);

	--radius-sm: 0.25rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--dark);
	color: var(--light);
	font-family: var(--default-font-family);
}

button {
	background-color: var(--light);
	border: 1px solid var(--light);
	border-radius: 3rem;
	padding: var(--button-padding-default);
	box-sizing: border-box;
	cursor: pointer;
}

button:hover {
	background-color: var(--muted-light);
	border: 1px solid var(--muted-light);
}

h1,
h2,
h3 {
	font-weight: 400;
}

h1,
h2{
	text-wrap-mode: initial;
	text-wrap-style: balance;
}

h3 {
	font-size: 1.375rem;
}

a {
	text-decoration: none;
	color: var(--light);
	cursor: pointer;
}

.red a {
	display: block;
	color: var(--red-text);
	margin: 1rem 0;
}

a:hover {
	color: var(--muted-text);
}

ul li{
	list-style: none;
}

.bgImg {
	width: 100%;
	height: 40.75rem;
	overflow: hidden;
	border-radius: 0.24rem;
}

header {
	width: 100%;
	position: sticky;
	top: 0;
	padding: 0 1.2rem;
	background-color: var(--dark);
}

header nav {
	width: 100%;
	max-width: 1301px;
	height: 3.25rem;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .left {
	display: flex;
	align-items: center;
	width: 5.9rem;
}

nav .mid  ul {
	display: flex;
	gap: 2rem;
	font-size: var(--text-sm);
	margin-left: 4.5rem;
}

nav .right {
	display: flex;
	gap: 0.45rem;
}

nav .right button {
	font-size: var(--text-sm);
	align-self: center;
	padding: var(--button-padding-sm);
}

#signInBtn {
	background-color: var(--dark);
	color: var(--light);
	border: 1px solid var(--border-lighter);

	--border-light: color-mix(in oklab,var(--color-theme-fg)2.5%,transparent);
	box-sizing: border-box;
}

#hero {
	margin-top: 4.5rem;
}

#hero h1 {
	max-width: 60%;
	font-size: 1.625rem;
	line-height: var(--leading-sm);
	letter-spacing: -.0125em;
}

.container {
	max-width: 1300px;
	margin: auto;
}

#hero .ctaSection {
	margin: 2.5rem 0;
}

#hero .cta {
	font-size: 1rem;
	margin: 1.4rem 0;
}

#heroEditor {
	width: 100%;
	overflow: hidden;
	background: var(--hero-bg);
}

#heroEditor .bgImg {
	height: 42.5rem;
}

.bgImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main {
	display: flex;
	flex-direction: column;
	gap: 4.4rem;
}

#trustedBy h2 {
	text-align: center;
	font-size: var(--text-sm);
	font-weight: 400;
}

#orgsSection {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 0.7rem;
	padding: 1.5rem 0 1.75rem 0;
}

#orgsSection .org {
	width: 100%;
	height: 6.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-inline: 0.48rem;
	background-color: var(--highlight);
	border: 1px solid var(--border-dark);
	border-radius: var(--radius-sm);
}

#orgsSection img {
	width: 100%;
	height: 2.5rem;
	object-fit: contain;
}

#features .container {
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

#agent,
#autocomplete,
#surfaces {
	display: flex;
	align-items: center;
	gap: 3rem;
	padding: 1rem;
	background-color: var(--highlight);
	border: 1px solid var(--border-dark);
	border-radius: var(--radius-sm);
}

.image-beside-text {
	width: 69%;
}

.text-beside-editor {
	width: 31%;
}

.text-beside-editor p {
	font-size: 1.375rem;
	color: var(--muted-light);
}

#testimonials h2 {
	font-size: var(--text-xl);
	text-align: center;
	margin: 3.5rem 0;
}

#testimonials .cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 0.6rem;
}

#testimonials .card {
	background-color: var(--highlight);
	border: 1px solid var(--border-dark);
	border-radius: var(--radius-sm);
}

#testimonials .card figure {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.25rem;
	padding: 1.15rem 1rem;
}

#testimonials .card .user {
	display: flex;
	gap: 0.75rem;
}

#testimonials .card img {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: var(--radius-sm);
}

#testimonials .card figure p {
	font-size: var(--text-base);
	line-height: var(--leading-base);
	letter-spacing: var(--tracking-md);
}

#testimonials .card figcaption div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: .1rem 0;
	font-size: var(--text-sm);
}

#testimonials .card figcaption span {
	display: block;
	color: var(--muted-text);
}

#stories {
	width: 100%;
	margin: 5.5rem 0;
}

#stories h2 {
	font-size: var(--text-lg);
}

#stories .cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: .6rem;
	margin: 1.5rem 0;
}

#stories .card {
	width: 100%;
	padding: 1rem 1rem .6rem 1rem;
	background-color: var(--highlight);
	border: 1px solid var(--border-dark);
	border-radius: var(--radius-sm);
	line-height: var(--leading-base);
}

#stories .card .upper h3 {
	font-size: var(--text-base);
}

#stories .card .upper p {
	color: var(--muted-text);
}

#stories .card img {
	border-radius: var(--radius-sm);
}

#changelog h2 {
	font-size: var(--text-lg);
}

#changelog .logs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: .6rem;
	margin: 1.5rem 0;
}

#changelog .log {
	width: 100%;
	padding: 1rem;
	border: 1px solid var(--border-dark);
	border-radius: var(--radius-sm);
	background-color: var(--highlight);
	line-height: var(--leading-base);
}

#changelog .log .date{
	display: flex;
	align-items: center;
	gap: .6rem;
	color: var(--muted-text);
	margin-bottom: .75rem;
}

#changelog .log span {
	font-size: var(--text-sm);
	padding: 0  .6rem;
	border: 1px solid var(--muted-text);
	border-radius: 1rem;
}

#joinUs {
	width: 100%;
	margin: 3rem 0;
}

#joinUs .container {
	display: flex;
	align-items: center;
	gap: 4rem;
	padding: 1.25rem 1.25rem .75rem 1.25rem;
	background-color: var(--highlight);
	line-height: var(--leading-sm);
}

#joinUs .sideImage {
	width: 72%;
	object-fit: cover;
}

#joinUs .sideImage img {
	width: 100%;
	border-radius: var(--radius-sm);
}

#highlights {
	width: 100%;
	background-color: var(--highlight);
	padding: 5.5rem;
	margin: 6rem 0 4rem 0;
}

#highlights .posts {
	max-width: 41rem;
	margin: auto;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: .6rem;
}

#highlights h2 {
	font-size: var(--text-base);
	position: absolute;
}

#highlights .posts .post {
	width: 100%;
	padding: 1rem;
	background-color: var(--cardBg);
	color: var(--muted-text);
	line-height: var(--leading-base);
	letter-spacing: var(--tracking-md);
	border: 1px solid var(--border-light);
	border-radius: var(--radius-sm);
}

#highlights .posts .post h3 {
	font-size: var(--text-base);
	color: var(--light);
}

#highlights .post .date {
	margin-top: 1.25rem;
}

#finalCTA {
	width: 100%;
	margin-bottom: 9rem;
	text-align: center;
}

#finalCTA h2 {
	font-size: var(--text-2xl);
	line-height: var(--leading-tight);
	letter-spacing: var(--tracking-2xl);
	margin-bottom: 1.5rem;
}

#finalCTA button {
	font-size: var(--text-base);
}

footer {
	width: 100%;
	height: 100%;
	background-color: var(--highlight);
	font-size: var(--text-sm);
}

footer .top .columns {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 4.5rem 0;
}

footer .columns .links h3 {
	font-size: var(--text-sm);
	color: var(--muted-text);
	margin-bottom: 1rem;
}

footer .columns .links ul{
	display: flex;
	flex-direction: column;
	gap: .9rem;
}

footer .bottom {
	display: flex;
	justify-content: space-between;
}

footer .bottom .left{
	display: flex;
	gap: .75rem;
	margin: 2.25rem 0;
	color: var(--muted-text);
}

footer .bottom .left a {
	color: var(--muted-text);
}

.red a:hover {
	color: var(--muted-red);
}
